#!/usr/bin/make -f

%:
	dh $@ --sourcedirectory=x11 --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-build-all --prefix=/usr

#override_dh_auto_build:
#	dh_auto_build --sourcedirectory=x11
#
#override_dh_auto_clean:
#	dh_auto_clean --sourcedirectory=x11
#
#override_dh_install:
#	override_dh_install --sourcedirectory=x11
